body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 50px;
}
.tagcolor{
    color: orange;
}
.flex{
    display: flex;
    margin-bottom: 80px;
}
.justify{
    text-align: justify;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 60%;
    padding-left: 15%;
    padding-top: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.mid-image{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-info{
    width: 40%;
    padding: 3.5%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#exp-one{
    border-left: 8px solid;
    border-image: linear-gradient(red,tomato);
    border-image-slice: 1;
}
#exp-two{
    border-left: 8px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    
}
footer p{
    text-align: center;
}