body{
    font-family: 'Otomanopee One', sans-serif;
}
h1{
    font-size: 50px;
}
.tagcolor{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 60%;
    padding-left: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}